# Add any directories, files, or patterns you don't want to be tracked by version control
### OSX ###
.DS_Store
.AppleDouble
.LSOverride

.idea/

# Distribution / packaging
.Python
env/


# Unit test / coverage reports
htmlcov/

.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/

